@page "/support/repository-overview"

@using AtcWeb.Styles

@inherits RepositoryOverviewBase

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader Title="Repository overview"
                    SubTitle="This is the technical overview of all atc repositories.">
    </DocsPageHeader>
    <DocsPageContent>
        @if (Repositories is null)
        {
            <MudGrid Justify="Justify.Center">
                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
            </MudGrid>
        }
        else
        {
            foreach (var repository in Repositories.OrderBy(x => x.Name))
            {
                <DocsPageSection>
                    <SectionHeader Title="@repository.Name"
                                   TitleColor="Color.Primary"
                                   TitleLink="@($"https://atc-net.github.io/repository/{repository.Name}")">
                        <SubTitle>
                            <RepositoryDescription Repository="@repository" />
                        </SubTitle>
                    </SectionHeader>
                    <SectionContent AutoMarginContent="false"
                                    FullWidth="true">

                        <RepositoryBadges Repository="@repository" />
                        <RepositorySummery Repository="@repository"/>

                        @if ("C#".Equals(repository.BaseData.Language, StringComparison.Ordinal))
                        {
                            <div class="py-4">
                                <h2>.NET projects</h2>
                                <RepositoryDotNetProjects Repository="@repository" />
                            </div>
                        }

                        @if (!repository.Name.Equals("atc-docs") ||
                             !repository.Name.Equals("atc-snippets"))
                        {
                            <div class="py-4">
                                <h2>Atc Coding Rules</h2>
                                <RepositoryCodingRules Repository="@repository" />
                            </div>
                        }

                        <MudText Class="my-4" Typo="Typo.h5">Responsible members</MudText>
                        <GitHubContributorGrid Contributors="repository.ResponsibleMembers"
                                               RepositoryName="@repository.Name"
                                               ItemTitle="Responsible member"
                                               Justify="Justify.FlexStart" />

                    </SectionContent>
                </DocsPageSection>
            }
        }
    </DocsPageContent>
</DocsPage>