@inherits LayoutComponentBase

<MudThemeProvider @ref="mudThemeProviderRef" Theme="@StateContainer.Theme" IsDarkMode="StateContainer.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   Position="DialogPosition.Center" />
<MudSnackbarProvider />

<MudLayout Class="full-page-height">
        <MudAppBar Elevation="0" Class="atc-appbar-frosted">
            <MudIconButton Icon="@Icons.Material.Filled.Menu"
                           Color="Color.Inherit"
                           Edge="Edge.Start"
                           OnClick="@((_) => DrawerToggle())" />
            <a href="/" class="d-flex align-center" style="text-decoration: none;">
                <img src="/images/atc-logo.svg" alt="ATC" width="28" height="28" class="mr-2" />
                <MudText Typo="Typo.h5"
                         Class="atc-appbar-brand-text">
                    ATC
                </MudText>
            </a>
            <MudSpacer />
            <div class="d-none d-md-flex align-center">
                <MudButton Variant="Variant.Text"
                           Color="Color.Inherit"
                           Href="/"
                           Class="atc-nav-button">
                    Home
                </MudButton>
                <MudButton Variant="Variant.Text"
                           Color="Color.Inherit"
                           Href="/introduction/repository-overview"
                           Class="atc-nav-button">
                    Repositories
                </MudButton>
                <MudButton Variant="Variant.Text"
                           Color="Color.Inherit"
                           Href="/introduction/getting-started"
                           Class="atc-nav-button">
                    Docs
                </MudButton>
                <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown"
                         Label="More"
                         Color="Color.Inherit"
                         Dense="true">
                    <MudMenuItem Href="/news">News</MudMenuItem>
                    <MudMenuItem Href="/tools/cli-tools">CLI Tools</MudMenuItem>
                    <MudMenuItem Href="/manuals/devops-playbook">DevOps Playbook</MudMenuItem>
                    <MudText Typo="Typo.body2"
                             Class="px-4 py-2"><b>Maintenance</b></MudText>
                    <MudMenuItem Href="/support/repository-compliance-overview">Compliance overview</MudMenuItem>
                    <MudMenuItem Href="/support/repository-insights">Repository insights</MudMenuItem>
                    <MudMenuItem Href="/support/api-rate-limits">API rate limits</MudMenuItem>
                </MudMenu>
                <MudDivider Vertical="true"
                            FlexItem="true"
                            DividerType="DividerType.Middle"
                            Class="mx-3 my-3"/>
                <MudTooltip Text="Toggle light/dark theme">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4"
                                   Color="Color.Inherit"
                                   OnClick="@((_) => StateContainer.DarkModeToggle())" />
                </MudTooltip>
                <MudTooltip Text="Join our Discord community">
                    <MudIconButton Icon="@Icons.Custom.Brands.Discord"
                                   Color="Color.Inherit"
                                   Href="https://discord.gg/hzNpdEdhRg"
                                   Target="_blank" />
                </MudTooltip>
                <MudTooltip Text="GitHub organization">
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                                   Color="Color.Inherit"
                                   Href="https://github.com/atc-net/"
                                   Target="_blank" />
                </MudTooltip>
            </div>
            <MudMenu Icon="@Icons.Material.Filled.Settings"
                     Color="Color.Inherit"
                     Dense="true"
                     Class="d-md-none">
                <div class="px-2">
                    <MudIconButton Icon="@StateContainer.DarkLightModeIcon"
                                   Color="Color.Inherit"
                                   OnClick="@((_) => StateContainer.DarkModeToggle())" />
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                                   Color="Color.Inherit"
                                   Href="https://github.com/atc-net/"
                                   Target="_blank" />
                </div>
                <MudMenuItem Href="/">Home</MudMenuItem>
                <MudMenuItem Href="/introduction/repository-overview">Repositories</MudMenuItem>
                <MudMenuItem Href="/introduction/getting-started">Docs</MudMenuItem>
                <MudMenuItem Href="/news">News</MudMenuItem>
            </MudMenu>
        </MudAppBar>

        <MudDrawer @bind-Open=drawerOpen
                   Elevation="0"
                   Breakpoint="Breakpoint.Lg"
                   Class="atc-appbar-band">
            <MudDrawerHeader Class="atc-brand"
                             Style="margin: 20px auto 0"
                             LinkToIndex="true">
                <img src="/images/atc-logo.svg" alt="ATC" />
            </MudDrawerHeader>
            <NavMenu />
        </MudDrawer>

        <div>
            @Body
        </div>

        <MudScrollToTop TopOffset="400" Style="z-index:2000;">
            <MudFab StartIcon="@Icons.Material.Filled.KeyboardArrowUp"
                    Color="Color.Primary" />
        </MudScrollToTop>
    </MudLayout>