<MudNavMenu Class="atc-navmenu">
    <div class="docs-nav-fader"></div>

    <MudNavGroup Title="Introduction"
                 Icon="@Icons.Material.Filled.School"
                 Expanded="@(section == "introduction")"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore">
        <MudNavLink Href="/introduction/what-is-atc">What is ATC</MudNavLink>
        <MudNavLink Href="/introduction/how-it-started">How it started</MudNavLink>
        <MudNavLink Href="/introduction/team-and-contributors">Team & Contributors</MudNavLink>
        <MudNavLink Href="/introduction/repository-overview">Repository overview</MudNavLink>
    </MudNavGroup>

    @if (repositories is not null)
    {
        foreach (var repository in repositories.OrderBy(x => x.BaseData.Name))
        {
            var href = $"/repository/{@repository.BaseData.Name}";
            var icon = Icons.Filled.DeviceUnknown;

            switch (@repository.BaseData.Language)
            {
                case "C#":
                    icon = Icons.Filled.Code;
                    break;

                case "PowerShell":
                    icon = Icons.Filled.Description;
                    break;

                case "Python":
                    icon = Icons.Filled.RestoreFromTrash;
                    break;
            }

            <MudNavLink Href="@href" Icon="@icon">@repository.BaseData.Name</MudNavLink>
        }
    }

</MudNavMenu>