@using AtcWeb.Styles
<MudNavMenu Class="atc-navmenu">
    <div class="docs-nav-fader"></div>

    <MudNavLink Icon="@Icons.Filled.Newspaper" Href="/news">News</MudNavLink>
    <MudNavGroup Title="Introduction"
                 Icon="@Icons.Material.Filled.School"
                 Expanded="@(section == "introduction")"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore">
        <MudNavLink Href="/introduction/team-and-contributors">Team & Contributors</MudNavLink>
        <MudNavLink Href="/introduction/about-atc">Contribution</MudNavLink>
        <MudNavLink Href="/introduction/general-rules-and-guidelines">General rules and guidelines</MudNavLink>
        <MudNavLink Href="/introduction/repository-overview">Repository overview</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Manuals"
                 Icon="@Icons.Material.Filled.School"
                 Expanded="@(section == "manuals")"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore">
        <MudNavLink Href="/manuals/devops-playbook">DevOps Playbook</MudNavLink>
    </MudNavGroup>

    @if (repositories is null)
    {
        <MudGrid Justify="Justify.Center">
            <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
        </MudGrid>
    }
    else
    {
        foreach (var repository in repositories
            .Where(x => !x.BaseData.Private)
            .OrderBy(x => x.Name))
        {
            var href = $"/repository/{repository.Name}";
            var iconSrc = ImageHelper.GetProgramIconPathForLanguage(repository.BaseData.Language);

            <MudElement HtmlTag="div"
                        Class="mud-nav-item mud-ripple d-flex items-center">
                <a href="@href" class="mud-nav-link">
                    <img src="@iconSrc" width="22" height="22" alt="" />
                    <MudText Class="mud-nav-link-text"
                             Inline="true">
                        @repository.Name
                    </MudText>
                </a>
            </MudElement>
        }
    }

</MudNavMenu>