@inherits DocsPageRepositoryBase

<DocsPage @ref="docsPage" MaxWidth="MaxWidth.Large">
    @if (Repository is null)
    {
        <MudGrid Justify="Justify.Center">
            <MudProgressCircular Color="Color.Primary"
                                 Size="Size.Medium"
                                 Indeterminate="true" />
        </MudGrid>
    }
    else
    {
        @* ===== Repository Header Banner ===== *@
        <div class="accent-top-card pa-6 mb-8">
            <div class="d-flex align-center flex-wrap gap-3 mb-3">
                <img src="@ImageHelper.GetProgramIconPathForLanguage(Repository.BaseData.Language)"
                     width="28" height="28" alt="" />
                <MudText Typo="Typo.h4" Class="gradient-text" Style="font-weight: 600;">
                    @Repository.Name
                </MudText>
            </div>
            @if (!string.IsNullOrEmpty(Repository.Description))
            {
                <MudText Typo="Typo.body1" Class="mb-4" Style="max-width: 700px;">
                    @Repository.Description
                </MudText>
            }
            <div class="d-flex align-center flex-wrap gap-2">
                <MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary"
                         Size="Size.Small" Icon="@Icons.Material.Filled.Code">
                    @Repository.BaseData.Language
                </MudChip>
                @if (!string.IsNullOrEmpty(Repository.BaseData.License?.Key))
                {
                    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Success"
                             Size="Size.Small" Icon="@Icons.Material.Filled.Gavel">
                        @Repository.BaseData.License.Key
                    </MudChip>
                }
                @if (Repository.BaseData.PushedAt.HasValue)
                {
                    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Default"
                             Size="Size.Small" Icon="@Icons.Material.Filled.Update">
                        Updated @Repository.BaseData.PushedAt.Value.ToString("MMM d, yyyy")
                    </MudChip>
                }
            </div>
            <div class="d-flex align-center flex-wrap gap-2 mt-4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                           StartIcon="@Icons.Custom.Brands.GitHub"
                           Href="@($"https://github.com/atc-net/{Repository.Name}")"
                           Target="_blank">
                    GitHub
                </MudButton>
                @if (Repository.IsDotnetSolution)
                {
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.CloudDownload"
                               Href="@($"https://www.nuget.org/packages?q=owner%3Aatc-net+{Repository.DotName}")"
                               Target="_blank">
                        NuGet
                    </MudButton>
                }
                @if (Repository.OpenIssues.Count > 0)
                {
                    <MudButton Variant="Variant.Outlined" Color="Color.Warning" Size="Size.Small"
                               StartIcon="@Icons.Material.Filled.BugReport"
                               Href="@($"https://github.com/atc-net/{Repository.Name}/issues")"
                               Target="_blank">
                        @Repository.OpenIssues.Count Issues
                    </MudButton>
                }
            </div>
        </div>
        <DocsPageContent>
            <DocsPageSection>
                <SectionHeader Title="Readme" />
                <SectionContent AutoMarginContent="false"
                                FullWidth="true">
                    <MudCard Elevation="0">
                        @if (Repository.Root.HasReadme)
                        {
                            <MudCardContent>
                                <MarkdownRepositoryContent RepositoryName="@Repository.Name"
                                                           RepositoryBranch="@Repository.BaseData.DefaultBranch"
                                                           IdPrefix="readme"
                                                           Content="@Repository.Root.RawReadme"
                                                           OnHeadingsExtracted="HandleReadmeHeadings" />
                            </MudCardContent>
                        }
                        else
                        {
                            <MudCardContent>
                                <MudProgressCircular Color="Color.Primary"
                                                     Size="Size.Small"
                                                     Indeterminate="true" />
                            </MudCardContent>
                        }
                    </MudCard>
                </SectionContent>
            </DocsPageSection>
            @if (Repository.Wiki.HasWiki)
            {
                <DocsPageSection>
                    <SectionHeader Title="Wiki" />
                    <SectionContent AutoMarginContent="false" FullWidth="true">
                        @foreach (var wikiPage in Repository.Wiki.Pages)
                        {
                            var wikiH1 = wikiPage.IsLoaded
                                ? MarkdownHeadingHelper.ExtractFirstH1Title(wikiPage.RawContent, markdownPipeline)
                                : null;
                            var wikiSectionTitle = wikiH1 ?? wikiPage.Title;
                            <DocsPageSection>
                                <SectionHeader Title="@wikiSectionTitle" />
                                <SectionContent AutoMarginContent="false" FullWidth="true">
                                    <MudCard Elevation="0">
                                        @if (wikiPage.IsLoaded)
                                        {
                                            <MudCardContent>
                                                <MarkdownRepositoryContent RepositoryName="@Repository.Name"
                                                                           RepositoryBranch="@Repository.BaseData.DefaultBranch"
                                                                           HeaderName="@wikiH1"
                                                                           Content="@wikiPage.RawContent" />
                                            </MudCardContent>
                                        }
                                        else
                                        {
                                            <MudCardContent>
                                                <MudProgressCircular Color="Color.Primary"
                                                                     Size="Size.Small"
                                                                     Indeterminate="true" />
                                            </MudCardContent>
                                        }
                                    </MudCard>
                                </SectionContent>
                            </DocsPageSection>
                        }
                    </SectionContent>
                </DocsPageSection>
            }
            @if (Repository.IsDotnetSolution && Repository.Dotnet is not null)
            {
                foreach (var dotnetProject in Repository.Dotnet.Projects
                    .OrderBy(x => x.Name))
                {
                    if (dotnetProject.HasReadme)
                    {
                        <DocsPageSection>
                            <SectionHeader Title="@dotnetProject.Name"/>
                            <SectionContent AutoMarginContent="false"
                                            FullWidth="true">
                                <MudCard Elevation="0">
                                    <MudCardContent>
                                        <MarkdownRepositoryContent RepositoryName="@Repository.Name"
                                                                   RepositoryBranch="@Repository.BaseData.DefaultBranch"
                                                                   HeaderName="@dotnetProject.Name"
                                                                   Content="@dotnetProject.RawReadme"/>
                                    </MudCardContent>
                                </MudCard>
                            </SectionContent>
                        </DocsPageSection>
                    }
                }
            }
        </DocsPageContent>
    }
</DocsPage>

@code {
    private static readonly MarkdownPipeline markdownPipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseEmojiAndSmiley()
        .Build();

    private DocsPage? docsPage;

    private void HandleReadmeHeadings(List<MarkdownHeadingInfo> headings)
    {
        docsPage?.AddMarkdownHeadingSections("readme", headings);
    }
}