@using MudBlazor.Utilities

<div @ref="@SectionReference" id="@GetSectionId()" class="@Classname">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        if (string.IsNullOrEmpty(TitleLink))
        {
            <MudText Typo="@Typo.h4"
                     Color="@TitleColor">
                @Title
            </MudText>
        }
        else
        {
            <MudLink Href="@TitleLink"
                     Typo="Typo.h3"
                     Color="@TitleColor">
                @Title
            </MudLink>
        }
    }

    @if (SubTitle is not null)
    {
        <MudText Typo="Typo.h6">
            @SubTitle
        </MudText>
    }

    @if (Description is not null)
    {
        <MudText>
            @Description
        </MudText>
    }
</div>

@code {

    [CascadingParameter] private DocsPage? DocsPage { get; set; }

    protected string Classname =>
        new CssBuilder("docs-section-header")
            .AddClass(Class)
            .Build();

    [Parameter] public string? Class { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public string? TitleLink { get; set; }

    [Parameter] public Color TitleColor { get; set; } = Color.Default;

    [Parameter] public RenderFragment? SubTitle { get; set; }

    [Parameter] public RenderFragment? Description { get; set; }

    public DocsSectionLink? Section { get; set; }

    public ElementReference SectionReference;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (DocsPage != null && !string.IsNullOrWhiteSpace(Title))
        {
            Section = new DocsSectionLink
            {
                Id = Title.Replace(" ", "-").ToLower(),
                Title = Title,
            };
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender &&
            DocsPage is not null &&
            !string.IsNullOrWhiteSpace(Title) &&
            Section is not null)
        {
            DocsPage.AddSection(Section);
        }
    }

    private string GetSectionId()
    {
        return Section is null
            ? Guid.NewGuid().ToString()
            : Section.Id;
    }
}