@using MudBlazor.Utilities

<div @ref="@SectionReference" id="@GetSectionId()" class="@Classname">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        if (string.IsNullOrEmpty(TitleLink))
        {
            <MudText Typo="@TitleType"
                     Color="@TitleColor">
                @Title
            </MudText>
        }
        else
        {
            <MudLink Href="@TitleLink"
                     Typo="Typo.h3"
                     Color="@TitleColor">
                @Title
            </MudLink>
        }
    }

    @if (SubTitle is not null)
    {
        <MudText Typo="Typo.h6">
            @SubTitle
        </MudText>
    }

    @if (Description is not null)
    {
        <MudText>
            @Description
        </MudText>
    }
</div>

@code {

    [CascadingParameter] private DocsPage? DocsPage { get; set; }

    [CascadingParameter] private SectionSubGroups? SubGroup { get; set; }

    [CascadingParameter] private DocsPageSection? Section { get; set; }

    protected string Classname =>
        new CssBuilder("docs-section-header")
            .AddClass(Class)
            .Build();

    [Parameter] public string? Class { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public Typo TitleType { get; set; } = Typo.h4;

    [Parameter] public string? TitleLink { get; set; }

    [Parameter] public Color TitleColor { get; set; } = Color.Default;

    [Parameter] public RenderFragment? SubTitle { get; set; }

    [Parameter] public RenderFragment? Description { get; set; }

    public DocsSectionLink? SectionInfo { get; set; }

    public ElementReference SectionReference;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (DocsPage == null || string.IsNullOrWhiteSpace(Title))
        {
            return;
        }

        var parentTitle = DocsPage.GetParentTitle(Section!);
        if (string.IsNullOrEmpty(parentTitle) == false)
        {
            parentTitle += '-';
        }

        var id = (parentTitle + Title).Replace(" ", "-").ToLower();

        SectionInfo = new DocsSectionLink
        {
            Id = id,
            Title = Title,
        };
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender &&
            DocsPage is not null &&
            !string.IsNullOrWhiteSpace(Title) &&
            SectionInfo is not null && 
            Section is not null)
        {
            DocsPage.AddSection(SectionInfo, Section);
        }
    }

    private string GetSectionId()
        => SectionInfo?.Id is null
            ? Guid.NewGuid().ToString()
            : SectionInfo.Id;
}