<div @ref="@SectionReference" id="@GetSectionId()" class="@Classname">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        if (string.IsNullOrEmpty(TitleLink))
        {
            <MudText Typo="@TitleType"
                     Color="@TitleColor">
                @Title
            </MudText>
        }
        else
        {
            <MudLink Href="@TitleLink"
                     Typo="Typo.h3"
                     Color="@TitleColor">
                @Title
            </MudLink>
        }
    }

    @if (SubTitle is not null)
    {
        <MudText Typo="Typo.h6">
            @SubTitle
        </MudText>
    }

    @if (Description is not null)
    {
        <MudText>
            @Description
        </MudText>
    }
</div>
