@using AtcWeb.Domain.GitHub.Models
@using AtcWeb.State

@if (StateContainer is not null &&
   PackageReferences is not null)
{
    <table class="atc-simple-table-clean table-no-padding">
        @foreach (var packageReference in PackageReferences)
        {
            <tr>
                <td>@packageReference.PackageId</td>
                <td width="80px">
                    @if (packageReference.IsNewest)
                    {
                        <MudTooltip Text="@($"{packageReference.PackageId} has the latest version {packageReference.NewestVersion}")">
                            <span style="color: @StateContainer.SuccessColor">
                                @packageReference.Version
                            </span>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="@($"{packageReference.PackageId} has a newer version {packageReference.NewestVersion}")">
                            <span style="color: @StateContainer.WarningColor">
                                @packageReference.Version
                            </span>
                        </MudTooltip>
                    }
                </td>
            </tr>
        }
    </table>
}

@code {

    [Inject]
    private StateContainer? StateContainer { get; set; }

    [Parameter]
    public List<DotnetNugetPackage>? PackageReferences { get; set; }

}