@using AtcWeb.Domain.GitHub.Models

@if (Repository is not null)
{
    <MudSimpleTable Bordered="false"
                    Elevation="0">
        <thead>
            <tr>
                <th class="px-0 py-0" style="width: 25%">General Project Info</th>
                <th class="px-0 py-0" style="width: 25%">Build Status</th>
                <th class="px-0 py-0" style="width: 25%">Packages</th>
                <th class="px-0 py-0" style="width: 25%">Code Quality</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="px-0 py-2" style="vertical-align: top;">
                    <ol style="list-style-type: none;">
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "General Project Info"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ol>
                </td>
                <td class="px-0 py-2" style="vertical-align: top;">
                    <ol style="list-style-type: none;">
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "Build Status"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ol>
                </td>
                <td class="px-0 py-2" style="vertical-align: top;">
                    <ol style="list-style-type: none;">
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "Packages"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ol>
                </td>
                <td class="px-0 py-2" style="vertical-align: top;">
                    <ol style="list-style-type: none;">
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "Code Quality"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ol>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
}

@code {

    [Parameter]
    public AtcRepository? Repository { get; set; }

}