@using AtcWeb.Domain.GitHub.Models
@using AtcWeb.State

@if (StateContainer is not null &&
     Repository?.Dotnet != null)
{
    <MudSimpleTable Bordered="true"
                    Elevation="0">
        <thead>
            <tr>
                <th style="width: 25%">Project name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Repository.Dotnet.Projects)
            {
                <tr>
                    <td style="vertical-align: top;">
                        @project.Name
                    </td>
                    <td>
                        <table class="atc-simple-table-clean-bottom-line">
                            <tr>
                                <td style="width: 35%">Target framework:</td>
                                <td style="width: 65%">
                                    @if (project.IsTargetFrameworkInLongTimeSupport)
                                    {
                                        <MudTooltip Text="@("TargetFramework is up to date.")">
                                            <span style="color: @StateContainer.CurrentTheme.Palette.Success">@project.TargetFramework</span>
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudTooltip Text="@("TargetFramework is not set to a correct version.")">
                                            <span style="color: @StateContainer.CurrentTheme.Palette.Warning">@project.TargetFramework</span>
                                        </MudTooltip>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Language version:</td>
                                <td>
                                    @if (project.IsLangVersionInAcceptedVersion)
                                    {
                                        <MudTooltip Text="@("LangVersion is up to date.")">
                                            <span style="color: @StateContainer.CurrentTheme.Palette.Success">@project.LangVersion</span>
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudTooltip Text="@("LangVersion is not set to a correct version.")">
                                            <span style="color: @StateContainer.CurrentTheme.Palette.Warning">@project.LangVersion</span>
                                        </MudTooltip>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Project type:</td>
                                <td>@project.Type</td>
                            </tr>
                            <tr>
                                <td>Generates package:</td>
                                <td>
                                    @if (project.IsPackage)
                                    {
                                        <i class="fa-solid fa-circle-check"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-circle"></i>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">Package reference:</td>
                                <td><RepositoryDotNetProjectPackageReferences PackageReferences="@project.PackageReferences" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {

    [Inject]
    private StateContainer? StateContainer { get; set; }

    [Parameter]
    public AtcRepository? Repository { get; set; }

}