@using AtcWeb.State
@using AtcWeb.Domain.GitHub.Models
@using AtcWeb.Domain.Data

@if (StateContainer is not null &&
   CompilerSettings is not null)
{
    <table class="atc-simple-table-clean table-no-padding">
        <tr>
            <td style="width: 50%">Target framework:</td>
            <td style="width: 50%">
                @if (CompilerSettings.IsTargetFrameworkInLongTimeSupport)
                {
                    <MudTooltip Text="TargetFramework is up to date.">
                        <span style="color: @StateContainer.SuccessColor">
                            @CompilerSettings.TargetFramework
                        </span>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="TargetFramework is not set to a correct version.">
                        <span style="color: @StateContainer.WarningColor">
                            @CompilerSettings.TargetFramework
                        </span>
                    </MudTooltip>
                }
            </td>
        </tr>
        <tr>
            <td>Language version:</td>
            <td>
                @if (CompilerSettings.IsLangVersionInAcceptedVersion)
                {
                    <MudTooltip Text="LangVersion is up to date.">
                        <span style="color: @StateContainer.SuccessColor">
                            @CompilerSettings.LangVersion
                        </span>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="@($"LangVersion should be updated to {RepositoryMetadata.RecommendedLangVersion}.")">
                        <span style="color: @StateContainer.WarningColor">
                            @CompilerSettings.LangVersion
                        </span>
                    </MudTooltip>
                }
            </td>
        </tr>
        <tr>
            <td>Generate documentation file:</td>
            <td><IconCheckmark IsSet="@CompilerSettings.GenerateDocumentationFile" /></td>
        </tr>
        <tr>
            <td>Project type:</td>
            <td>@CompilerSettings.Type</td>
        </tr>
        <tr>
            <td>Generates package:</td>
            <td><IconCheckmark IsSet="@CompilerSettings.IsPackage" /></td>
        </tr>
    </table>
}

@code {

    [Inject]
    private StateContainer? StateContainer { get; set; }

    [Parameter]
    public DotnetProjectCompilerSettings? CompilerSettings { get; set; }

}