@using AtcWeb.Domain.GitHub.Models

@if (Repository is not null)
{
    <MudSimpleTable>
        <thead>
            <tr>
                <th style="width: 25%">General Project Info</th>
                <th style="width: 25%">Packages</th>
                <th style="width: 25%">Build Status</th>
                <th style="width: 25%">Code Quality</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "General Project Info"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "Packages"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "Build Status"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var (_, key, url) in Repository.Badges.Where(x => x.Group == "Code Quality"))
                        {
                            <li><img src="@url" alt="@key" /></li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
}

@code {

    [Parameter]
    public AtcRepository? Repository { get; set; }

}