@using AtcWeb.Domain.GitHub.Models
@using AtcWeb.State
@using AtcWeb.Domain.Data

@if (StateContainer is not null &&
     Repository?.Dotnet?.SolutionMetadata is not null)
{
    <MudSimpleTable Bordered="true"
                Elevation="0">
        <thead>
            <tr>
                <th style="width: 25%">Area</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="vertical-align: top;">
                    File Format
                </td>
                <td>
                    <table class="atc-simple-table-clean table-no-padding">
                        <tr>
                            <td>Version</td>
                            <td>@Repository.Dotnet.SolutionMetadata.FileFormatVersion</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    Visual Studio
                </td>
                <td>
                    <table class="atc-simple-table-clean table-no-padding">
                        <tr>
                            <td>Name</td>
                            <td>
                                @if (Repository.Dotnet.IsVisualStudioNameInAcceptedVersion)
                                {
                                    <MudTooltip Text="Visual Studio Name is up to date.">
                                        <span style="color: @StateContainer.CurrentTheme.Palette.Success">@Repository.Dotnet.SolutionMetadata.VisualStudioName</span>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <MudTooltip Text="@($"Visual Studio Name should be updated to {RepositoryMetadata.RecommendedVisualStudioName}.")">
                                        <span style="color: @StateContainer.CurrentTheme.Palette.Warning">@Repository.Dotnet.SolutionMetadata.VisualStudioName</span>
                                    </MudTooltip>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Version Number</td>
                            <td>@Repository.Dotnet.SolutionMetadata.VisualStudioVersionNumber</td>
                        </tr>

                        <tr>
                            <td>Version</td>
                            <td>@Repository.Dotnet.SolutionMetadata.VisualStudioVersion</td>
                        </tr>
                        <tr>
                            <td>Minimum Version</td>
                            <td>@Repository.Dotnet.SolutionMetadata.MinimumVisualStudioVersion</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
}

@code {

    [Inject]
    private StateContainer? StateContainer { get; set; }

    [Parameter]
    public AtcRepository? Repository { get; set; }

}